<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<th:block th:fragment="javascript">

<!-- JS -->
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/datatables/2.0.7/js/dataTables.js}"></script>
<script type="text/javascript" th:src="@{/webjars/datatables/2.0.7/js/dataTables.jqueryui.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/datatables/2.0.7/js/dataTables.bootstrap5.min.js}"></script>
<script type="text/javascript" th:src="@{/js/concessions.js}"></script>
    
</th:block>
</body>
</html>