<configuration>
    <!-- Define the Logcat Appender -->
    <appender name="LOGCAT" class="ch.qos.logback.classic.android.LogcatAppender">
        <tagEncoder>
            <pattern>%logger{12}</pattern>
        </tagEncoder>
        <encoder>
            <pattern>[%-5level] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set the root logger to DEBUG and attach the Logcat appender -->
    <root level="DEBUG">
        <appender-ref ref="LOGCAT" />
    </root>
</configuration>